/montage/settings/settings_secret.py
dive.log
.env
venv

# Python bytecode:
*.py[co]
__pycache__

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# Celerybeat scheduler file:
celerybeat-schedule

django.log

/media/user-icon/*
.DS_Store

.mypy_cache

# testing
.coverage
.pytest_cache/
.tox/
.tags
.vscode/
*.xml
*.iml
venv
